footer {
  border-top: 1px solid $white;
  padding: 150px 20px;
  display: flex;
  justify-content: space-between;
  div.bloc {
    h3 {
      font-size: 30px;
      font-style: italic;
      margin-bottom: 30px;
      &.bottom {
        margin-top: 50px;
      }
    }

    a.email {
      color: $grey;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }

    nav {
      ul {
        li {
          margin-bottom: 10px;
          a {
            text-decoration: none;
            color: $grey;
            font-size: 12px;
            text-transform: uppercase;
            &:hover {
              text-decoration: underline;
            }
          }

          &:last-child { margin-bottom: 0; }
        }
      }
    }

    input {
      width: 100%;
      width: fill-available;
      width: -webkit-fill-available;
      width: -moz-available;
    }
  }

  img#logo-monde {
    margin-top: 30px;
  }
}