input, textarea, select {
  background-color: transparent;
  color: $grey;
  border: 1px solid $grey;
  padding: 16px 20px;
  border-radius: 70px;
  &::placeholder {
    color: $grey;
    text-transform: uppercase;
  }
}