header {
  display: flex;
  align-items: center;
  padding: 12px 20px;
  border-bottom: 1px solid $white;
  position: sticky;
  top: 0;
  background: $black;
  z-index: 9999;
  nav {
    margin-left: auto;
    ul {
      display: flex;
      li {
        margin-right: 100px;
        &:last-child {
          margin-right: 0;
        }
        a {
          font-size: 12px;
          text-transform: uppercase;
          color: $white;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  a#logo {
    color: $white;
    text-decoration: none;
    font-family: $font-timesnewroman;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    i.small {
      display: flex;
      margin-left: auto;
      font-size: 18px;
    }
  }
}