@import '../../charte.scss';

section#donation {
  display: flex;
  padding: 0 20px;

  div.container {
    border: 1px solid $white;
    border-radius: 275px;
    margin-left: 20px;
    padding-top: 100px;
    padding-bottom: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;

    h2 {
      font-size: 80px;
      text-align: center;
    }

    div {
      margin: auto;
    }

    p.texte {
      width: 300px;
      margin-top: 20px;
      margin-bottom: 30px;
    }

    button.marquee {
      margin: auto;
    }
  }
}