@import '../../charte.scss';

section#equipe {
  display: flex;  

  div.half {
    width: 50%;
    .row {
      margin-bottom: 20px;
      img {
        margin-right: 20px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  div.content {
    padding-left: 20px;

    h2, p.texte {
      width: 80%;
    }

    h2 {
      font-size: 30px;
    }
    p.texte {
      margin-top: 20px;
      margin-bottom: 30px;
    }
  }
}