$black: #000000;
$white: #FFFFFF;
$green: #98D5A2;
$blue: #BAE4EB;
$purple: #B6B2DB;
$grey: #BCBCBC;
$dark: #4C4C4C;
$font-helvetica: Helvetica, sans-serif;
$font-timesnewroman: 'Times New Roman', Times, serif;

$header-height: 60px;